
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>iComet long-polling demo</title>
</head>
<body>

	<h3>Server push messages:</h3>
	<div id="output"></div>

<script>
var count = 0;
var next_seq = 0;
var last_script = null;
var channel = "log";
var url = "http://chat.ptphp.com/icomet/poll?cname="+channel+"&cb=icomet_cb&seq=";
function sub(seq){
	// setTimeout to get rid of loading status in browser status bar
	setTimeout(function(){
		next_seq = seq | 0;
		var body = document.getElementsByTagName('body')[0];
		var script = document.createElement('script');
		script.src = url + next_seq;
		if(last_script){
			body.removeChild(last_script);
		}
		body.appendChild(script);
		last_script = script;
	}, 0);
}

function icomet_cb(msg_data){
	console.log(msg_data);
	if(msg_data instanceof Array){
		//
	}else{
		msg_data = [msg_data];
	}
	for(var k in msg_data){
		var msg = msg_data[k];
		if(msg.type != 'data'){
			continue;
		}
		next_seq = parseInt(msg.seq) + 1;
		count ++;
		var output = document.getElementById('output');
		var time = '' + (new Date());
		output.innerHTML += count + '. ' + time + ': ' + msg.content + '<br/>';
	}
	// start next polling
	sub(next_seq);
}

sub();
</script>

</body>
</html>
